<section>
    <h2>create a new post  </h2>
    <form action="" class="new-form-post">
        <div>
            <label for="post-title">Title</label>
            <input type="text" name="" id="post-title">
        </div>
        <div>
            <label for="post-url">Link</label>
            <input name="post-url" id="post-url">
        </div>
        <button type="submit" class="btn">create</button>
    </form>

</section>